/*
* is a wildcard, this means it will select all elements within that portion of the DOM.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6rem;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
}

.section {
    padding: 4rem 0;
}

h1, h2, h3 {
    color: #222;
    margin-bottom: 1rem;
}

/*Hero Section*/

.hero {
    background: linear-gradient(135deg, #6c63ff, #3B3B98);
    color: #fff;    
    text-align: center;
    padding: 6rem 0; 
}


.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero h1 span {
    color: #ffd700;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero .btn {
    background: #ffd700;
    color: #222;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0 0.5rem;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background: #eab308;
}

/*About section*/
.about {
    display:flex;
    align-items: center;
    gap: 2rem;
}

.about img {
   width:  170px;
   height: 180px;
   border-radius:50%;
   object-fit: cover;
}

.response-2 {
    font-weight: 400;
}

/*Skills Section*/
.skills-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
}

.skills h2 {
    text-align: center;

}

.progress-bar {
    background: #6c63ff;
    border-radius: 20px;
    overflow: hidden;
    margin: 0.5rem;
    height: 10px;
    position: relative;
}

.progress-bar div {
    background-color: linear-gradient(135deg, #6c63ff, #3b3b98);
    height: 100%;
    width: 0;
    animation: fillBar 1.5s ease-out forwards;
}

@keyframes fillBar {
    from {
        width: 0;
    }
    to {
        width: inherit;
    }
};